html
    head
        title= 'JS Materials'

        script(src='https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js')
        script(src='javascripts/Timer.js')

        link(rel='stylesheet', href='stylesheets/reset.css')
        link(rel='stylesheet', href='stylesheets/breakpoints.css')
        link(rel='stylesheet', href='stylesheets/layout.css')
        link(rel='stylesheet', href='stylesheets/content.css')
        link(rel='stylesheet', href='stylesheets/header.css')
        link(rel='stylesheet', href='stylesheets/footer.css')
        link(rel='stylesheet', href='stylesheets/sidebar.css')
        link(rel='stylesheet', href='stylesheets/auth_form.css')

    body(class='layout')
        // If logged in
        if student
            div(class="header")
                p(class="header__name") Student: #{student}
                a(href='/auth/logout', class="header__logout") SIGN OUT
            // Table of contents
            div(class="sidebar")
                p(class="sidebar__title")='Topics'
                each m in material
                    // Option in table of contents
                    // On click opens modal window
                    button(class='sidebar__item' onclick="openMaterial(this.id)" id=m.chapter +'.'+ m.name) #{m.chapter}.#{m.name}
                // If admin, show upload material option
                if student == 'admin'
                    form(action='materials', method='POST', enctype="multipart/form-data")
                        input(type='file', name='toUpload')
                        button(type='submit')='Upload File'

            // Modal window with content(pdf)   !!!!! DEFAULT DISPLAY MUST BE none !!!!!
            div(id='modal', class='modal')

                each m in material
                    // PDF goes here
                    canvas(id='the-canvas' + m.chapter +'.'+ m.name class='modal__pdf')

                // Previous/Next buttons
                div(class='modal__buttons')
                    button#prev Previous
                    span
                        span(id='page_num')='Page: '
                        ='/'
                        span(id='page_count')=''
                    button#next Next
                    button(onclick='openCodeOutput()') Output

                // JavaScript code for rendering corresponding PDF using PDF.js
                script(src='javascripts/renderPDF.js')

                // Code output window
                div#output(class='modal__code')
                    p#output_code
                    // each m in material
                    //     script(src='javascripts/code_examples/' + m.chapter +'.'+ m.name + '.js')



            // JavaScript code for opening modal window (openMaterial())
            script(type='text/javascript').
                function openMaterial(id) {
                    let materials = !{JSON.stringify(material)}
                    materials.forEach(m => {
                        const to_close = document.getElementById('the-canvas' + m.chapter + '.' + m.name)
                        to_close.style.display = 'none'
                    })


                    const chapter = id.substr(0, 1)
                    localStorage.clear()
                    localStorage.setItem('chapter', chapter)


                    const canvas = document.getElementById('the-canvas' + id)
                    canvas.style.display = 'block'
                    const b = document.getElementById(id)
                    const modal = document.getElementById('modal')
                    modal.style.display = 'flex'
                    renderPDF(id)

                };
                timer();

                function openCodeOutput() {
                    // Output block
                    const outputWindow = document.getElementById('output')
                    // Output code text block
                    const outputCode = document.getElementById('output_code')
                    // Output script block
                    const imports = document.getElementById('imports')
                    // Active chapter
                    const chapter = localStorage.getItem('chapter')
                    // Active page number
                    const page = localStorage.getItem('page')

                    eval(`var lesson = new Lesson${chapter}()`)
                    eval(`lesson.page${page}()`)

                    if (outputWindow.style.display === 'block'){
                        outputWindow.style.display = 'none'
                    } else{
                        outputWindow.style.display = 'block'
                    }


                }


                document.addEventListener('focusout', () => {
                    // Output block
                    const outputWindow = document.getElementById('output')
                    outputWindow.style.display = 'none'
                })


        else
            // Sign in form if user is not authenticated
            form(method='post' action='auth' class='auth_form')
                h1(class='auth_form__title')='JS Materials'
                input(type="text" placeholder="Name..." name="studentName" class='auth_form__input')
                input(type="text" placeholder="Student ID..." name="studentID" class='auth_form__input')
                button(type='submit' class='auth_form__button')='Sign In'


